@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Geist Mono', ui-monospace, monospace;

  --color-blue-50: #F5F9FD;
  --color-blue-100: #E7F1FA;
  --color-blue-200: #CCE9F6;
  --color-blue-300: #B0D3EF;
  --color-blue-400: #93B9E8;
  --color-blue-500: #6E99D4;
  --color-blue-600: #4E7EBE;
  --color-blue-700: #3A71A4;
  --color-blue-800: #305C86;
  --color-blue-900: #2A4B6C;
  --color-blue-950: #1B2F45;

  --color-avelune-50: #EEF8FF;
  --color-avelune-100: #D0E1F0;
  --color-avelune-200: #A3B1C6;
  --color-avelune-300: #5CC8E4;
  --color-avelune-400: #00DDEB;
  --color-avelune-500: #0681B4;
  --color-avelune-600: #0A5C8A;
  --color-avelune-700: #112A43;
  --color-avelune-800: #0C1A2F;
  --color-avelune-900: #071120;
  --color-avelune-950: #040A14;

  /* Custom Gradient Utility utilizing the scale */
  --background-image-login-button: linear-gradient(180deg, var(--color-avelune-300) 0%, var(--color-avelune-500) 100%);
}

.dark {
  --ui-bg: #0a0a0a;
  --ui-bg-muted: oklch(17.5% 0 0);
  --ui-bg-elevated: oklch(20.5% 0 0);
  --ui-bg-accented: oklch(26.9% 0 0);
  --ui-border: oklch(26.9% 0 0);
  --ui-border-muted: oklch(23% 0 0);
}

html {
  overscroll-behavior: none;
}
